/* Mobile */
@media (max-width: 601px) {
    .w3-ul {
        display: none;
    }

    .w3-half.mo {
        width: 100%;
    }

    .w3-span {
        display: none;
    }
}

/* Tablet */
@media (min-width: 601px) {
    .w3-half.ta {
        width: 50%;
    }
}

/* PC */
@media (min-width: 993px) {
    .w3-half.pc {
        width: 25%;
    }
}